<h2>Signup</h2>

<form action="/signup" method="post">

	<div>
		<label for="username">Username: </label>
		<input type="text" name="username" id="username" required unique/>
	</div>

	<div>
		<label for="password">Password: </label>
		<input type="password" name="password" id="password" required/>
	</div>

	{{#if errorMessage}}
		<p class="error">{{errorMessage}}</p>
	{{/if}}

	<button>Create a User !</button>

</form>