<h1>Welcome to your profile!</h1>

<h2>Welcome, {{ foundUser.username }}!</h2>
<p>This is your profile page my friend!</p>
<button>
    <a href="/profile">Reload the page</a>
</button>
<form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
</form>
